
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AtölyeNet - Hakkımızda</title>
    <!--/google-fonts -->
    <link href="//fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,400;1,600&display=swap" rel="stylesheet">
    <!--//google-fonts -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/assets/css/style-starter.css">
</head>

<body>
    <!--/Header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light stroke py-lg-0">
                <h1>
                    <a class="navbar-brand pe-xl-5 pe-lg-4" href="index.html">
                        <span class="sublog">Atölye</span>Net
                    </a>
                </h1>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-lg-auto my-2 my-lg-0 navbar-nav-scroll">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="~/Default/Index/">Ana Sayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/About/Index/">Hakkımızda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Product/Index/">Hizmetler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Contact/Index/">İletişim</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav search-right mt-lg-0 mt-2">
                        <li class="nav-item" title="Search">
                            <a href="#search" class="search-search">
                                <span class="fas fa-search" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li class="nav-item me-lg-3">
                            <a href="purchase.html" class="phone-btn btn btn-primary btn-style d-none d-lg-block ms-2">Satın Al</a>
                        </li>
                    </ul>

                    <!-- Gece/Gündüz Modu -->
                    <div class="mobile-position">
                        <nav class="navigation">
                            <div class="theme-switch-wrapper">
                                <label class="theme-switch" for="checkbox">
                                    <input type="checkbox" id="checkbox">
                                    <div class="mode-container">
                                        <i class="gg-sun"></i>
                                        <i class="gg-moon"></i>
                                    </div>
                                </label>
                            </div>
                        </nav>
                    </div>
                    <!-- //Gece/Gündüz Modu -->
                </div>
            </nav>
        </div>
    </header>
    <!--//Header-->
    <!-- breadcrumb -->
    <section class="w3l-about-breadcrumb">
        <div class="breadcrumb-bg breadcrumb-bg-about">
            <div class="container py-lg-5 py-sm-4">
                <div class="w3breadcrumb-gids text-center">
                    <div class="w3breadcrumb-info mt-5">
                        <h2 class="w3ltop-title pt-4">Hakkımızda</h2>
                        <ul class="breadcrumbs-custom-path">
                            <li><a href="index.html">Ana Sayfa</a></li>
                            <li class="active"><span class="fas fa-angle-double-right mx-2"></span> Hakkımızda </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//breadcrumb-->
    <!-- feature with photo1 -->
    <!-- //feature with photo1 -->
    <!--/tabs-faqs-->
    <section class="w3l-products py-5" id="tabs">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="header-sec mx-auto text-center">
                <h6 class="title-subhny mb-2"></h6>
                <h3 class="title-w3l mb-5">
                    Hakkımızda<br>
                </h3>
            </div>
            <div class="row">
                <div class="col-lg-12 mx-auto">

                    <!--Horizontal Tab-->
                    <div id="parentHorizontalTab">
                        <ul class="resp-tabs-list hor_1 mb-2">
                            <li>Hakkımızda</li>
                            <li>Misyon</li>
                            <li>Vizyon</li>
                            <li>Hikayemiz</li>
                            <div class="clear"></div>
                        </ul>
                        <div class="resp-tabs-container hor_1">
                            <div class="products-content">
                                <div class="row mt-4">
                                    <div class="col-lg-6 tabw3-left">
                                        <h4 class="head">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                            incididunt ut labore et dolore
                                        </h4>
                                        <p>
                                            Lorem ipsum dolor sit amet, elit. Id ab commodi impedit magnam sint voluptates.
                                            Minima velit expedita maiores, sit at in!
                                        </p>
                                        <ul class="w3l-right-book mt-4">
                                            <li><span class="fa fa-check" aria-hidden="true"></span>Always Fast and friendly support</li>
                                            <li><span class="fa fa-check" aria-hidden="true"></span>We offer wide range of skills</li>
                                            <li><span class="fa fa-check" aria-hidden="true"></span>We help analyze,transform business models</li>
                                            <li><span class="fa fa-check" aria-hidden="true"></span>Experienced Professional Team</li>
                                            <li><span class="fa fa-check" aria-hidden="true"></span>consulting services include project management</li>
                                            <li><span class="fa fa-check" aria-hidden="true"></span>Manage your workflow and tasks successfully</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 tabw3-right ps-lg-5 mt-lg-0 mt-5">
                                        <img src="~/assets/images/g9.jpg" class="img-fluid radius-image" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="products-content">
                                <div class="row mt-4">
                                    <div class="col-lg-6 tabw3-right">
                                        <img src="~/assets/images/g3.jpg" class="img-fluid radius-image" alt="">
                                    </div>
                                    <div class="col-lg-6 tabw3-left ps-lg-5 mt-lg-0 mt-5">
                                        <h4 class="head">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                            incididunt ut labore et dolore
                                        </h4>
                                        <p>
                                            Lorem ipsum dolor sit amet, elit. Id ab commodi impedit magnam sint voluptates.
                                            Minima velit expedita maiores, sit at in!
                                        </p>
                                        <ul class="w3l-right-book mt-4">
                                            <li><span class="fa fa-check" aria-hidden="true"></span>Always Fast and friendly support</li>
                                            <li><span class="fa fa-check" aria-hidden="true"></span>Experienced Professional Team</li>
                                            <li><span class="fa fa-check" aria-hidden="true"></span>Always Fast and friendly support</li>
                                            <li><span class="fa fa-check" aria-hidden="true"></span>Experienced Professional Team</li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="products-content">
                                <div class="row mt-4">

                                    <div class="col-lg-6 tabw3-left">
                                        <h4 class="head">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                            incididunt ut labore et dolore
                                        </h4>
                                        <p>
                                            Lorem ipsum dolor sit amet, elit. Id ab commodi impedit magnam sint voluptates.
                                            Minima velit expedita maiores, sit at in!
                                        </p>
                                        <ul class="w3l-right-book mt-4">
                                            <li><span class="fa fa-check" aria-hidden="true"></span>Always Fast and friendly support</li>
                                            <li><span class="fa fa-check" aria-hidden="true"></span>We offer wide range of skills</li>
                                            <li><span class="fa fa-check" aria-hidden="true"></span>We help analyze,transform business models</li>
                                            <li><span class="fa fa-check" aria-hidden="true"></span>Experienced Professional Team</li>
                                            <li><span class="fa fa-check" aria-hidden="true"></span>consulting services include project management</li>
                                            <li><span class="fa fa-check" aria-hidden="true"></span>Manage your workflow and tasks successfully</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 tabw3-right ps-lg-5 mt-lg-0 mt-5">
                                        <img src="~/assets/images/g8.jpg" class="img-fluid radius-image" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="products-content">
                                <div class="row mt-4">
                                    <div class="col-lg-6 tabw3-right">
                                        <img src="~/assets/images/g7.jpg" class="img-fluid radius-image" alt="">
                                    </div>
                                    <div class="col-lg-6 tabw3-left ps-lg-5 mt-lg-0 mt-5">
                                        <h4 class="head">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                            incididunt ut labore et dolore
                                        </h4>
                                        <p>
                                            Lorem ipsum dolor sit amet, elit. Id ab commodi impedit magnam sint voluptates.
                                            Minima velit expedita maiores, sit at in!
                                        </p>
                                        <ul class="w3l-right-book mt-4">
                                            <li><span class="fa fa-check" aria-hidden="true"></span>Always Fast and friendly support</li>
                                            <li><span class="fa fa-check" aria-hidden="true"></span>Experienced Professional Team</li>
                                            <li><span class="fa fa-check" aria-hidden="true"></span>Always Fast and friendly support</li>
                                            <li><span class="fa fa-check" aria-hidden="true"></span>Experienced Professional Team</li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//tabs-faqs-->
    <!--/progress-->
    <!--//progress-->
    <!--/w3l-project-->
    <!--/team-sec-->
    <!--//team-sec-->
    <!--/w3l-project-->
    <!--//w3l-project-->
    <!-- footer -->
    <section class="w3l-footer-29-main">
        <div class="footer-29 py-5">
            <div class="container py-lg-4">
                <div class="row footer-top-29">
                    <!-- Logo ve Açıklama -->
                    <div class="col-lg-4 col-md-6 footer-list-29 footer-1 pe-lg-5">
                        <div class="footer-logo mb-4">
                            <h2>
                                <a class="navbar-brand" href="index.html">
                                    <span class="sublog">Atölye</span>Net
                                </a>
                            </h2>
                        </div>
                        <p>Demir doğrama sektöründe 25 yılı aşkın tecrübeye sahip olan firmamız, güvenli ve kaliteli hizmet anlayışıyla her türlü demir doğrama ihtiyacınıza çözüm sunmaktadır.</p>
                        <div class="w3l-two-buttons mt-4">
                            <a href="iletisim.html" class="btn btn-primary btn-style">Bize Ulaşın</a>
                        </div>
                        <!-- Sosyal Medya İkonları -->
                        <div class="main-social-footer-29 mt-5">
                            <a href="https://facebook.com" class="facebook"><span class="fab fa-facebook-f"></span></a>
                            <a href="https://twitter.com" class="twitter"><span class="fab fa-twitter"></span></a>
                            <a href="https://instagram.com" class="instagram"><span class="fab fa-instagram"></span></a>
                            <a href="https://linkedin.com" class="linkedin"><span class="fab fa-linkedin-in"></span></a>
                        </div>
                    </div>

                    <!-- Bağlantılar Bölümü -->
                    <div class="col-lg-2 col-md-6 footer-list-29 footer-2 mt-sm-0 mt-5">
                        <h6 class="footer-title-29">Bağlantılar</h6>
                        <ul>
                            <li><a href="hakkimizda.html">Hakkımızda</a></li>
                            <li><a href="hizmetlerimiz.html">Hizmetlerimiz</a></li>
                            <li><a href="proje-galeri.html">Proje Galerisi</a></li>
                            <li><a href="iletisim.html">İletişim</a></li>
                        </ul>
                    </div>

                    <!-- Hizmetler Bölümü -->
                    <div class="col-lg-2 col-md-6 footer-list-29 footer-3 mt-lg-0 mt-5">
                        <h6 class="footer-title-29">Hizmetlerimiz</h6>
                        <ul>
                            <li><a href="#demir-kapilar">Demir Kapı ve Pencere Sistemleri</a></li>
                            <li><a href="#demir-parmaklik">Demir Parmaklık ve Korkuluklar</a></li>
                            <li><a href="#demir-merdiven">Demir Merdiven Sistemleri</a></li>
                            <li><a href="#sanayi-yapilari">Sanayi Yapıları</a></li>
                            <li><a href="#ozel-yapim">Özel Yapım Demir İşleri</a></li>
                        </ul>
                    </div>

                    <!-- Diğer Bilgiler Bölümü -->
                    <div class="col-lg-2 col-md-6 footer-list-29 footer-4 mt-lg-0 mt-5">
                        <h6 class="footer-title-29">İletişim Bilgileri</h6>
                        <ul>
                            <li><a href="tel:+905555555555">Telefon: +90 555 555 55 55</a></li>
                            <li><a href="mailto:info@demirdograma.com">E-posta: info@demirdograma.com</a></li>
                            <li><a href="#adres">Adres: İstanbul, Türkiye</a></li>
                            <li><a href="#harita">Google Harita</a></li>
                        </ul>
                    </div>

                    <!-- Destek ve Yasal Bilgiler -->
                    <div class="col-lg-2 col-md-6 footer-list-29 footer-5 mt-lg-0 mt-5">
                        <h6 class="footer-title-29">Destek</h6>
                        <ul>
                            <li><a href="#sikca-sorulan-sorular">Sıkça Sorulan Sorular</a></li>
                            <li><a href="#garanti-sartlari">Garanti Şartları</a></li>
                            <li><a href="#teslimat-bilgisi">Teslimat Bilgisi</a></li>
                            <li><a href="#satis-sozlesmesi">Satış Sözleşmesi</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Copyright ve Üst Yönlendirme -->
        <section class="w3l-copyright text-center">
            <div class="container">
                <p class="copy-footer-29">© 2025 Demir Doğrama Atölyesi. Tüm hakları saklıdır. <a href="https://www.demirdograma.com" target="_blank">Atölye.net</a></p>
            </div>

            <!-- Yukarıya Git Butonu -->
            <button onclick="topFunction()" id="movetop" title="Yukarı Çık">
                <span class="fas fa-arrow-up"></span>
            </button>
            <script>
                window.onscroll = function () {
                    scrollFunction()
                };

                function scrollFunction() {
                    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                        document.getElementById("movetop").style.display = "block";
                    } else {
                        document.getElementById("movetop").style.display = "none";
                    }
                }

                function topFunction() {
                    document.body.scrollTop = 0;
                    document.documentElement.scrollTop =




                        <!--Copyright Section-- >
                            <section class="w3l-footer-29 text-center" >
                                <div class="container py-3" >
                                    <p>& copy; 2025 AtölyeNet.Tüm hakları saklıdır.< /p>
                                        < /div>
                                        < /section>

                                        < !--Script -->
                                            <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.9.3/dist/umd/popper.min.js" ></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
            <script src="~/assets/js/main.js"></script>



            <!-- //footer -->
            <!-- Js scripts -->
            <!-- Template JavaScript -->
            <script src="~/assets/js/jquery-3.3.1.min.js"></script>
            <script src="~/assets/js/theme-change.js"></script>
            <script src="~/assets/js/jquery-1.9.1.min.js"></script>
            <!-- faq -->
            <script>
                            const items = document.querySelectorAll(".accordion button");

                function toggleAccordion() {
                    const itemToggle = this.getAttribute('aria-expanded');

                    for (i = 0; i < items.length; i++) {
                        items[i].setAttribute('aria-expanded', 'false');
                    }

                    if (itemToggle == 'false') {
                        this.setAttribute('aria-expanded', 'true');
                    }
                }

                items.forEach(item => item.addEventListener('click', toggleAccordion));

            </script>
            <!-- //faq -->
            <!-- MENU-JS -->
            <script>
                $(window).on("scroll", function () {
                    var scroll = $(window).scrollTop();

                    if (scroll >= 80) {
                        $("#site-header").addClass("nav-fixed");
                    } else {
                        $("#site-header").removeClass("nav-fixed");
                    }
                });

                //Main navigation Active Class Add Remove
                $(".navbar-toggler").on("click", function () {
                    $("header").toggleClass("active");
                });
                $(document).on("ready", function () {
                    if ($(window).width() > 991) {
                        $("header").removeClass("active");
                    }
                    $(window).on("resize", function () {
                        if ($(window).width() > 991) {
                            $("header").removeClass("active");
                        }
                    });
                });

            </script>
            <!-- //MENU-JS -->
            <!-- disable body scroll which navbar is in active -->
            <script>
                $(function () {
                    $('.navbar-toggler').click(function () {
                        $('body').toggleClass('noscroll');
                    })
                });

            </script>
            <!-- //disable body scroll which navbar is in active -->
            <!-- //bootstrap -->
            <script src="~/assets/js/bootstrap.min.js"></script>


            <!-- //footer -->
            <!-- Js scripts -->
            <!-- Template JavaScript -->
            <script src="~/assets/js/jquery-3.3.1.min.js"></script>
            <script src="~/assets/js/theme-change.js"></script>
            <!--/Tabs-->
            <script src="~/assets/js/jquery-1.9.1.min.js"></script>
            <script src="~/assets/js/easyResponsiveTabs.js"></script>
            <!--Plug-in Initialisation-->
            <script type="text/javascript">
                $(document).ready(function () {
                    //Horizontal Tab
                    $('#parentHorizontalTab').easyResponsiveTabs({
                        type: 'default', //Types: default, vertical, accordion
                        width: 'auto', //auto or any width like 600px
                        fit: true, // 100% fit in a container
                        tabidentify: 'hor_1', // The tab groups identifier
                        activate: function (event) { // Callback function if tab is switched
                            var $tab = $(this);
                            var $info = $('#nested-tabInfo');
                            var $name = $('span', $info);
                            $name.text($tab.text());
                            $info.show();
                        }
                    });
                });

            </script>
            <!--//Tabs-->
            <!-- MENU-JS -->
            <script>
                $(window).on("scroll", function () {
                    var scroll = $(window).scrollTop();

                    if (scroll >= 80) {
                        $("#site-header").addClass("nav-fixed");
                    } else {
                        $("#site-header").removeClass("nav-fixed");
                    }
                });

                //Main navigation Active Class Add Remove
                $(".navbar-toggler").on("click", function () {
                    $("header").toggleClass("active");
                });
                $(document).on("ready", function () {
                    if ($(window).width() > 991) {
                        $("header").removeClass("active");
                    }
                    $(window).on("resize", function () {
                        if ($(window).width() > 991) {
                            $("header").removeClass("active");
                        }
                    });
                });

            </script>
            <!-- //MENU-JS -->
            <!-- disable body scroll which navbar is in active -->
            <script>
                $(function () {
                    $('.navbar-toggler').click(function () {
                        $('body').toggleClass('noscroll');
                    })
                });

            </script>
            <!-- //disable body scroll which navbar is in active -->
            <!-- //bootstrap -->
            <script src="~/assets/js/bootstrap.min.js"></script>

</body>

</html>
